.App {
  text-align: center;
  margin-bottom: 10%;
}

.container{
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}
.btn-block{
display: none;
}
.save{
  color: black;
  background-color:violet;
  margin:2%
}
.cancel{
  color: black;
  background-color:violet;
  margin:2%
}

.accordion {
  background-color: mediumseagreen;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
